.cardFormatting {
    border-radius: 10px;
    overflow: hidden;
  }

.card-image {
  height: 200px; /* Set the height to a fixed size */
  width: 100%; /* Full width of the card */
  object-fit: cover; /* Ensures image covers the entire area without distortion */
  border-top-left-radius: calc(0.375rem - 1px); /* Match card border radius */
  border-top-right-radius: calc(0.375rem - 1px);
}

.cardTitles{
  padding-bottom: 15px;
}
.card-title {
  font-size: 5rem;
}

.cardSpacing{

  margin-right: 5%;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  background-color: #33CCCC;
  border: none;
}
  